@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/webfontworld/SaenggeoJincheon/SaenggeoJincheon.css");
@import url("https://webfontworld.github.io/gyeonggi/GyeonggiBatang.css");
/*
font-family: 'SaenggeoJincheon';
font-family: 'GyeonggiBatang';
font-family: 'Noto Sans KR', sans-serif;
*/
:root {
  /* color */
  --primary-color01: #556b2f;
  --primary-color02: #99b463;
  --primary-color03: #525252;
  --secondary-color01: #dfeec2;
  --secondary-color02: #f5fff5;
  --point-color01: #5d8b22;
  --point-color02: #8fbc8f;
  --point-color03: #f5f5dc;
  --gray01: #000;
  --gray02: #373737;
  --gray03: #525252;
  --gray04: #757575;
  --gray05: #e3e3e3;
  --gray06: #f9f9f9;
}
body {
  width: 100%;
  max-width: 1980px;
  margin: auto;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: var(--gray03);
}
a {
  font-family: "Noto Sans KR", sans-serif;
}
.inner {
  width: 81.25rem;
  margin: auto;
}
.footer {
  width: 100%;
}
/* footerTop */
.footerTop {
  width: 100%;
  height: 3rem;
  background: var(--primary-color01);
}
.footerTop_inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerNav {
  width: 38.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerNav a {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  transition: 0.2s;
}
.footerNav a:hover {
  font-weight: 600;
}

/* sponsered01 */
.sponsered01 {
  width: 30rem;
  height: inherit;
  position: relative;
}
.footerSwiper01 {
  width: 24rem;
  height: 2rem;
  box-sizing: border-box;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footerSwiper01 .swiper-wrapper {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
}
.footerSwiper01 .swiper-wrapper .swiper-slide {
  width: 5rem;
  height: inherit;
  background-color: #fff;
  border-radius: 0.3rem;
  box-sizing: border-box;
  margin: 0;
}
.footerSwiper01 .swiper-wrapper .swiper-slide a {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
}
.footerSwiper01 .swiper-wrapper .swiper-slide a img {
  box-sizing: border-box;
  box-shadow: inset 0 0 5px gray;
  width: inherit;
  height: inherit;
  padding: 0.2rem;
}
.sponsered01 .swiper-button-next {
  border-radius: 2rem;
  transition: 0.3s;
}

.sponsered01 .swiper-button-prev {
  border-radius: 2rem;
  transition: 0.3s;
}
.sponsered01 .swiper-button-next:hover,
.sponsered01 .swiper-button-prev:hover {
  box-shadow: 0 0 3px #000;
}
.sponsered01 .swiper-button-next::after,
.sponsered01 .swiper-button-prev::after {
  opacity: 0;
}

.sponsered01 .swiper-button-next {
  width: 2rem;
  height: 2rem;
  right: 0;
  top: 60%;
  background: url(../img/footerTop_nextBtn.svg) no-repeat 50%;
}
.sponsered01 .swiper-button-prev {
  width: 2rem;
  height: 2rem;
  left: 25rem;
  top: 60%;
  background: url(../img/footerTop_prevBtn.svg) no-repeat 50%;
}

/* footerBottom */
.footerBottom {
  width: 100%;
  padding: 3rem 0;
}
.footerBottom_inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* left */
.bottomLeft {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.logo {
  width: 6.25rem;
  height: 5.5rem;
  background: url(../img/logoGray.svg) no-repeat;
}
.footerInfo {
  font-size: 0.75rem;
  color: var(--gray03);
}
.footerInfo small {
  line-height: 1rem;
}
.footerInfo small br {
}
.linked {
  height: 2rem;
  margin-top: 0.8rem;
  display: flex;
}
.iconBox {
  width: 10rem;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
.iconBox a {
  width: 2rem;
  height: inherit;
  transition: 0.3s;
}
.iconBox a:hover {
  animation: sns 0.8s infinite;
}
@keyframes sns {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.iconBox a:nth-child(1) {
  background: url(../img/facebookGray.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.iconBox a:nth-child(1):hover {
  background: url(../img/facebookGreen.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.iconBox a:nth-child(2) {
  background: url(../img/twitterGray.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.iconBox a:nth-child(2):hover {
  background: url(../img/twitterGreen.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.iconBox a:nth-child(3) {
  background: url(../img/appstoreGray.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.iconBox a:nth-child(3):hover {
  background: url(../img/appstoreGreen.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.iconBox a:nth-child(4) {
  background: url(../img/playstoreGray.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.iconBox a:nth-child(4):hover {
  background: url(../img/playstoreGreen.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.sponsered02 {
  display: none;
}
/* right */
.bottomRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.75rem;
}
.relateGroup {
  width: 12rem;
}
.relateGov {
  width: inherit;
  height: 2rem;
  position: relative;
}

.govBtn {
  width: inherit;
  height: inherit;
}
.govBtn button {
  width: inherit;
  height: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid var(--primary-color01);
  transition: 0.3s;
}

.govBtn button small {
  font-size: 0.875rem;
  color: var(--gray03);
}
.govBtn button .plus {
  width: 1rem;
  height: 1rem;
  background: url(../img/footerPlusBtn.svg) no-repeat;
  background-size: cover;
  background-position: center;
}
.govSub {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 2.1rem;
  background-color: #ffffffe6;
  box-sizing: border-box;
  box-shadow: 0 0 0.3rem rgb(174, 174, 174);
  z-index: 2;
}
.govSub li a {
  display: block;
  font-size: 0.875rem;
  padding: 0.4rem 0.5rem;
  transition: 0.3s;
}
.govSub li a:hover {
  background-color: var(--point-color03);
}

/* relateGov active */
.relateGov.active .govBtn button {
  background-color: var(--point-color02);
}
.relateGov.active .govBtn button small {
  font-weight: 600;
  color: var(--point-color03);
}
.relateGov.active .govBtn button .plus {
  transform: rotate(45deg);
}
.relateGov.active .govSub {
  display: block;
}
/* ^ active done */

.relateSite {
  width: inherit;
  height: 2rem;
  margin-top: 0.8rem;
  position: relative;
}
.siteBtn {
  width: inherit;
  height: inherit;
}
.siteBtn button {
  width: inherit;
  height: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid var(--primary-color01);
}
.siteBtn button small {
  font-size: 0.875rem;
  color: var(--gray03);
}
.siteBtn button .plus {
  width: 1rem;
  height: 1rem;
  background: url(../img/footerPlusBtn.svg) no-repeat;
  background-size: cover;
  background-position: center;
}
.siteSub {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 2.1rem;
  background-color: #ffffffe6;
  box-sizing: border-box;
  box-shadow: 0 0 0.3rem rgb(174, 174, 174);
  z-index: 3;
}
.siteSub li a {
  display: block;
  font-size: 0.875rem;
  padding: 0.4rem 0.5rem;
  transition: 0.3s;
}
.siteSub li a:hover {
  background-color: var(--point-color03);
}
/* relateGov active */
.relateSite.active .siteBtn button {
  background-color: var(--point-color02);
}
.relateSite.active .siteBtn button small {
  font-weight: 600;
  color: var(--point-color03);
}
.relateSite.active .siteBtn button .plus {
  transform: rotate(45deg);
}
.relateSite.active .siteSub {
  display: block;
}
/* ^ active done */

.webMark {
  width: 5.75rem;
  height: 4.5rem;
  background: url(../img/webMark.png) no-repeat;
  background-size: contain;
  background-position: center;
}
