body {
  position: relative;
}
.siteTab {
  width: 70%;
  max-width: 1980px;
  margin: auto;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  box-shadow: 0 0 200px #000;
  display: none;
}

.siteMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.siteMenu li {
  height: inherit;
  border-radius: 0.6rem 0.6rem 0 0;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
}

.siteMenu li:nth-child(1),
.siteMenu li:nth-child(2),
.siteMenu li:nth-child(3),
.siteMenu li:nth-child(4),
.siteMenu li:nth-child(5),
.siteMenu li:nth-child(6) {
  width: calc(95% / 6);
  background-color: #fff;
}
.siteMenu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.siteMenu li a.active {
  background-color: #dfeec2;
}
.closeSiteMap {
  width: 5%;
  height: 3rem;
  background-color: #556b2f;
  background-image: url(../img/sitemapClose.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.siteCon {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.siteCon div {
  width: 100%;
  display: none;
  /* display: grid; */
  grid-template-columns: auto auto auto auto auto;
  /* display: flex;
  justify-content: space-between; */
  padding: 3% 5%;
  border: 3px solid #dfeec2;
  box-sizing: border-box;
}
.siteCon div ul {
  width: 100%;
  margin-bottom: 2rem;
  /* flex-wrap: wrap; */
}
.siteCon div ul li {
  padding: 0.5rem 0;
}
.siteCon div ul li a {
  color: #525252;
  padding-bottom: 0.1rem;
}
.siteCon div ul li a:hover {
  font-weight: 600;
  border-bottom: 1px dashed #525252;
}
.siteCon div ul .tabstitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #556b2f;
}
.siteCon div ul .tabstitle:hover {
  border: none;
}
.siteCon div:nth-child(3) ul:last-child li,
.siteCon div:nth-child(5) ul:last-child li {
  padding: 1rem 0;
}
.siteCon div:last-child {
  grid-template-columns: auto;
}
.siteCon div:last-child ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 780px) {
  .siteTab {
    width: 95%;
    top: 2%;
    z-index: 200;
    /* display: flex; */
    flex-direction: row-reverse;
  }
  .siteMenu {
    width: 3rem;
    height: 80%;
    display: grid;
    grid-template-columns: auto;
  }
  .siteMenu li:nth-child(1),
  .siteMenu li:nth-child(2),
  .siteMenu li:nth-child(3),
  .siteMenu li:nth-child(4),
  .siteMenu li:nth-child(5),
  .siteMenu li:nth-child(6) {
    width: 3em;
    height: 9rem;
    border-radius: 0rem 0.6rem 0.6rem 0;
    box-sizing: border-box;
  }
  .siteMenu li a {
    display: block;
    padding: 1rem;
    box-sizing: border-box;
  }
  .siteMenu .closeSiteMap {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    position: absolute;
    top: -4rem;
    right: 0;
  }
  .siteCon {
    width: calc(100%-3rem);
  }
  .siteCon div {
    grid-template-columns: auto auto;
    gap: 2rem;
    border: none;
  }
  .siteCon div ul {
  }
  .siteCon div:last-child ul {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .siteCon div {
    grid-template-columns: auto;
    padding: 3rem;
  }
}
